.header{
    width: 110px;
    margin-left:30px;
    margin-bottom: 30px;
}
.shuala{
    margin-left: 30px;
    margin-right:166px;
}

.social-fb{
    margin-top:30px;
    margin-left: 30px;
    width:15px;
}
.social-yt{
    margin-top:30px;
    width:25px;
    margin-left:30px;
    padding-left:20px;
    border-left: solid blueviolet
 
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top:30px;

  }
  
  li {
    display: inline-block;
    margin-bottom: 7.5px
    
  }

a{
    text-decoration:none;
    color: #3D58A6
}

a:hover{
    color: #EE4036
}


